<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Hello</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Enter email" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
            >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
          <h1><i class="fab fa-node-js fa-3x"></i></h1>
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
    </div>
  </div>
</div>